/* Global
---------------------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:1rem;
    max-width: 50rem;
    width:100%;
}

textarea{
    padding:1rem;
    font-size: 2rem; 
}

#conversion{
    font-size:2rem;
    text-align: left;
    max-width: 60rem;
    overflow: auto;
    max-height: 20rem;
}