.dark-medium-contrast {
  --md-sys-color-primary: rgb(225 222 192);
  --md-sys-color-surface-tint: rgb(203 200 170);
  --md-sys-color-on-primary: rgb(40 39 19);
  --md-sys-color-primary-container: rgb(197 194 165);
  --md-sys-color-on-primary-container: rgb(52 51 30);
  --md-sys-color-secondary: rgb(224 220 206);
  --md-sys-color-on-secondary: rgb(39 38 29);
  --md-sys-color-secondary-container: rgb(147 145 132);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(210 225 206);
  --md-sys-color-on-tertiary: rgb(28 41 29);
  --md-sys-color-tertiary-container: rgb(182 197 179);
  --md-sys-color-on-tertiary-container: rgb(41 53 41);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 19 17);
  --md-sys-color-on-background: rgb(230 226 222);
  --md-sys-color-surface: rgb(20 19 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(72 71 62);
  --md-sys-color-on-surface-variant: rgb(224 220 208);
  --md-sys-color-outline: rgb(181 178 166);
  --md-sys-color-outline-variant: rgb(147 144 133);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 226 222);
  --md-sys-color-inverse-on-surface: rgb(43 42 40);
  --md-sys-color-inverse-primary: rgb(74 73 50);
  --md-sys-color-primary-fixed: rgb(231 228 197);
  --md-sys-color-on-primary-fixed: rgb(18 18 3);
  --md-sys-color-primary-fixed-dim: rgb(203 200 170);
  --md-sys-color-on-primary-fixed-variant: rgb(56 55 34);
  --md-sys-color-secondary-fixed: rgb(230 227 212);
  --md-sys-color-on-secondary-fixed: rgb(18 17 9);
  --md-sys-color-secondary-fixed-dim: rgb(202 199 185);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 54 44);
  --md-sys-color-tertiary-fixed: rgb(216 231 212);
  --md-sys-color-on-tertiary-fixed: rgb(8 20 9);
  --md-sys-color-tertiary-fixed-dim: rgb(188 203 185);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 57 44);
  --md-sys-color-surface-dim: rgb(20 19 17);
  --md-sys-color-surface-bright: rgb(70 68 66);
  --md-sys-color-surface-container-lowest: rgb(8 7 6);
  --md-sys-color-surface-container-low: rgb(30 29 27);
  --md-sys-color-surface-container: rgb(41 40 38);
  --md-sys-color-surface-container-high: rgb(51 50 48);
  --md-sys-color-surface-container-highest: rgb(63 61 59);
}
